{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "modules": true,
    "spread" : true,
    "restParams" : true
  },
  "rules": {
    "no-unused-vars": ["warn"],
    "semi": ["warn", "always"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}